DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=replace-with-a-new-local-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=pulsenotify
POSTGRES_USER=pulsenotify_user
POSTGRES_PASSWORD=replace-with-a-local-database-password
POSTGRES_HOST=localhost
POSTGRES_PORT=5434

REDIS_URL=redis://localhost:6380/0
